<h1 id="title">Contact List</h1>
<hr>
<form enctype="multipart/form-data" method="POST" action="/address/upload/">
Upload CSV File:input type="file" name="file"/><br/>
<input type="submit" value="Upload"/>
</form>
<table border="1">
<tr>
  <th>Name</th>
  <th>Sex</th>
  <th>Tel</th>
  <th>Cell</th>
  <th>Room</th>
</tr>
{% for person in object_list %}
<tr>
  <td>{{ person.name }}</td>
  <td>{{ person.gender }}</td>
  <td>{{ person.telphone }}</td>
  <td>{{ person.mobile }}</td>
  <td>{{ person.room }}</td>
</tr>
{% endfor %}
</table>
